<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
      <!-- Brand and explore link on the left -->
      <a class="navbar-brand" href="/listing"><i class="fa-solid fa-plane fa-rotate-by fa-2xl" style="--fa-rotate-angle: -39deg;"></i></a>
      <a class="nav_wlc" href="/admin/dashboard"><i><b>Admin Dashboard</b></i></a>
      
      <!-- dark mode toggle button for mobile -->
     <div class="toggle-container mobile-toggle">
      <button class="darkModeToggle dark-mode-toggle">
        <i class="toggleIcon bx bxs-moon"></i>
      </button>
     </div>
      
      <!-- Navbar Toggler for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar Collapse (links and form) -->
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        
        <!-- Left side navigation links -->
        <ul class="navbar-nav ml-auto main-menues normal-nav">
          <li class="nav-item h-effect">
            <a class="nav-link" href="/admin/dashboard">Manage Listings</a>
          </li>
          <li class="nav-item h-effect">
            <a class="nav-link" href="/admin/users">Manage Users</a>
          </li>
          <li class="nav-item h-effect">
            <a class="nav-link" href="/admin/feedbacks">Manage Feedbacks</a>
          </li>
          <li class="nav-item toggle-container desktop-toggle">
            <button class="darkModeToggle dark-mode-toggle">
              <i class="toggleIcon bx bxs-moon"></i>
            </button>
          </li>
        </ul>
  
        <!-- Nav bar for mobile only -->
      <div class="mobile-nav">
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">Manage Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">Manage Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/feedbacks">Manage Feedbacks</a>
          </li>

          <% if(!currUser) {%> <!--If inside currUser have not any user data then show this-->
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log in</a>
            </li>
            <% } %>

              <% if(currUser) {%>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log out</a>
                </li>
                <% } %>
        </ul>

      </div>
  
        <div class="nav-link dropdown d-down flex normal-nav">
          <a role="button" class="nav-link drop-button dropdown-toggle tg" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
            <% if(!currUser) {%>
              <img src="/noprofilenav.png" alt="" class="nav-provile" style="
              height: 1.9rem;
              padding-left: .5rem">
            <% } %>
  
            <% if(currUser) {%> 
              <img src="/profilenav.png" alt="" class="nav-provile" style="
              height: 1.9rem;
              padding-left: .5rem
              ">
            <% } %>
            
          </a>
          <ul class="dropdown-menu dropdown-menu-end desk-drop">
            <% if(!currUser) {%>
              <li class="nav-item drop">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item drop">
                <a class="nav-link" href="/signup">Signup</a>
              </li>
            <% } %>
            <% if(currUser) {%>
              <li class="nav-item drop"><a class="nav-link" href="/logout">Log Out</a></li>
             <% } %>
            
          </ul>
        </div>
      </div>
    </div>
  </nav>
  
  <style>
    .nav_wlc{
      color: #303030;
      text-decoration: none !important;
      cursor: pointer;
      white-space: nowrap;
    }

    .nav_wlc:hover{
      color: #FF5A5F;
      text-decoration: none!important;
      cursor: pointer;
    }

    /* Adjustments for small screens */
    @media (max-width: 768px) {
        .nav_wlc {
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        #search_frm  {
            width: 100% !important;
            /* margin-right: 100px !important; */
            margin-left: 10px !important;
        }
      }


    /* Dark Mode Styles */
    .dark-mode {
          .nav_wlc{
            color: #ff385c;
            text-decoration: none!important;
            cursor: pointer;
          }
          .nav_wlc i b:hover{
            color: #FF5A5F;
            transition: color 0.3s ease-in-out;
            cursor: pointer;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
          }
        }
  </style>
