<footer style=" margin-top: auto;">
    <div class="footer-info">
        <div class="f-social">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="f-name"></i>Wanderlust Private Limited</div>
    </div>
</footer>