<!-- Updated Navbar with search form -->
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <!-- Brand and explore link on the left -->
    <a class="navbar-brand" href="/"><i class="fa-solid fa-plane fa-rotate-by fa-2xl"
        style="--fa-rotate-angle: -39deg;"></i></a>
    <a class="nav-link" id="explore" href="/listing">Explore</a>

    <!-- dark mode toggle button for mobile -->
     <div class="toggle-container mobile-toggle">
      <button class="darkModeToggle dark-mode-toggle">
        <i class="toggleIcon bx bxs-moon"></i>
      </button>
     </div>
    
    <!-- Navbar Toggler for small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Collapse (links and form) -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">

      <!-- Left side navigation links -->
      <ul class="navbar-nav ml-auto main-menues normal-nav custom_nav">
        <li class="nav-item">
          <a class="nav-link" id="air_bnb" href="/listing/new">Add property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hight-light" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hight-light" href="/top-listings">Top Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  hight-light" href="/contact">Contact Us</a>
        </li>
       <li class="nav-item">
          <a class="nav-link hight-light" href="/feedback">Feedbacks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  hight-light" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item toggle-container desktop-toggle">
          <button class="darkModeToggle dark-mode-toggle">
            <i class="toggleIcon bx bxs-moon"></i>
          </button>
        </li>
        
      </ul>


      <!-- Nav bar for mobile only -->
      <div class="mobile-nav">
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="/listing/new">Airbnb ur Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/top-listings">Top Properties</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback">Feedbacks</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/listing/#faq">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contributors">Our Contributors</a>
          </li>

          <% if(!currUser) {%> <!--If inside currUser have not any user data then show this-->
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log in</a>
            </li>
            <% } %>

              <% if(currUser) {%> <!--If inside currUser have any user data then show this-->

                <li class="nav-item">
                  <a class="nav-link" href="/profile">Your profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log out</a>
                </li>
                <% } %>
        </ul>

      </div>



      <!-- Search bar in the middle -->
      <div class="input-group search-box">
        <form class="d-flex mx-3" action="/listing/search" method="post">
          <input class="form-control search-in" type="search" name="query" placeholder="Search your Airbnb.."
            aria-label="Search" aria-describedby="button-addon2">
          <button class="btn btn-outline-danger search" type="submit" id="button-addon2"><i
              class="fas fa-search"></i></button>
        </form>
      </div>
      <div class="nav-link dropdown d-down flex normal-nav profile-div">
        <a role="button" class="nav-link drop-button dropdown-toggle tg" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
          <% if(!currUser) {%>
            <img src="/noprofilenav.png" alt="" class="nav-profile">
            <% } %>

              <% if(currUser) {%>
                <% if(currUser.profilePicture.purl) {%>
                  <img src="<%=profilePic%>" alt="Profile" class="nav-profile">
                <% } else { %>
                  <img src="/profile.png" alt="Profile" class="nav-profile">
                <% } %>
              <% } %>

        </a>
        <ul class="dropdown-menu dropdown-menu-end desk-drop">
          <% if(!currUser) {%>
            <li class="nav-item drop auth">
              <a class="nav-link" href="/login">
              <i class="fa-solid fa-right-to-bracket" style="color: #fc3503;"></i>
              <span>Login</span>
             </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="nav-item drop auth">
              <a class="nav-link" href="/signup">
                <i class="fa-solid fa-user-plus"></i>
                <span>Signup</span>
             </a>
            </li>
          <% } else {%>
              <li class="nav-item drop auth">
                 <a class="nav-link" href="/logout">
                    <i class="fa-solid fa-right-from-bracket" style="color: #f40606;"></i>
                    <span style="margin-left: .4rem;">Log Out</span>
                 </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="nav-item drop align auth">
                   <a class="nav-link" href="/profile">
                       <i class="fa-solid fa-user"></i>
                    <span>Your profile</span>&nbsp;
                  </a>
                   <i class="fa-solid fa-angle-right"></i>
              </li>
          <% } %>

        </ul>
      </div>

    </div>
  </div>
</nav>
