<!-- Updated Navbar with search form -->
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container" style='margin-left: 11rem;'>
    <!-- Brand and explore link on the left -->
    <a class="navbar-brand" href="/"><i class="fa-solid fa-plane fa-rotate-by fa-2xl"
        style="--fa-rotate-angle: -39deg;"></i></a>
    <a class="nav-link" id="explore" href="/listing">Explore</a>

    <!-- dark mode toggle button for mobile -->
     <div class="toggle-container mobile-toggle">
      <button class="darkModeToggle dark-mode-toggle">
        <i class="toggleIcon bx bxs-moon"></i>
      </button>
     </div>
    
    <!-- Navbar Toggler for small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Collapse (links and form) -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">

      <!-- Left side navigation links -->
      <ul class="navbar-nav ml-auto main-menues normal-nav custom_nav">
        <li class="nav-item">
          <a class="nav-link" id="air_bnb" href="/listing/new">Add ur property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hight-light" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hight-light" href="/listing/#faq">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hight-light" href="/contributors">Our Contributors</a>
        </li>
        <li class="nav-item toggle-container desktop-toggle">
          <button class="darkModeToggle dark-mode-toggle">
            <i class="toggleIcon bx bxs-moon"></i>
          </button>
        </li>
        
      </ul>


      <!-- Nav bar for mobile only -->
      <div class="mobile-nav">
        <ul>
         <li class="nav-item">
          <a class="nav-link" id="air_bnb" href="/listing/new">Add ur property</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listing/#faq">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contributors">Our Contributors</a>
          </li>

          <% if(!currUser) {%> <!--If inside currUser have not any user data then show this-->
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log in</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Your profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
          <% } %>
        </ul>

      </div>



      <!-- Search bar in the middle -->
      <div class="input-group search-box">
        <form class="d-flex mx-3 input-form" action="/listing/search" method="post">
          <input class="form-control me-2" type="search" name="query" placeholder="Search your Airbnb.."
            aria-label="Search" aria-describedby="button-addon2">
          <button class="btn btn-outline-danger search" type="submit" id="button-addon2"><i
              class="fas fa-search"></i></button>
        </form>
      </div>
      <div class="nav-link dropdown d-down flex normal-nav">
        <a role="button" class="nav-link drop-button dropdown-toggle tg input-form" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
          <% if(!currUser) {%>
            <img src="/noprofilenav.png" alt="" class="nav-profile">
          <% } else {%>
              <% if(currUser.profilePicture && currUser.profilePicture.purl) {%>
                <img src="<%=profilePic%>" alt="Profile" class="nav-profile">
              <% } else { %>
                <img src="/profile.png" alt="Profile" class="nav-profile">
              <% } %>
          <% } %>

        </a>
        <ul class="dropdown-menu dropdown-menu-end desk-drop" style="margin-right: 14rem; width: 3rem;">
          <% if(!currUser) {%>
            <li class="nav-item drop auth" style="margin-left: .4rem;">
              <a class="nav-link" href="/login" style="width: 7rem;">
              <i class="fa-solid fa-right-to-bracket" style="color: #fc3503; font-size: 1.425rem;"></i>
              <span style="margin-left: .7rem; font-size: 1.225rem;">Login</span>
             </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="nav-item drop auth" style="margin-left: .4rem;">
              <a class="nav-link" href="/signup" style="width: 7rem;">
               <?xml version="1.0" ?><svg id="레이어_1" height="32" width="28" style="transform: translateY(-.5rem);" version="1.1" viewBox="0 0 40 40" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M37.1,5.22h-2v-2c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9v2h-2c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9h2v2  c0,0.5,0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9V7h2C37.6,7,38,6.6,38,6.1s-0.4-0.9-0.9-0.9l0,0V5.22z"/><path d="M28.76,20c2.92-2.28,3.44-6.5,1.16-9.42c-1.24-1.6-3.14-2.54-5.16-2.58c-1.64,0-3.22,0.62-4.42,1.74  C18.22,5.8,13.32,4.33,9.38,6.45S3.97,13.47,6.09,17.4c0.65,1.2,1.59,2.23,2.74,2.97C4.87,21.53,2,24.85,2,28.77v8  c0,0.5,0.4,0.9,0.9,0.9c0,0,0,0,0,0h20.88c0.5,0,0.9-0.4,0.9-0.9l0,0v-1.62h8.54c0.5,0,0.9-0.4,0.9-0.9v0V27.3  C34.08,23.97,31.92,21.04,28.76,20z M24.76,9.75c2.71-0.05,4.94,2.09,5,4.8c0.05,2.71-2.09,4.94-4.8,5  c-1.79,0.04-3.46-0.91-4.35-2.46l0.05-0.14c0.08-0.17,0.15-0.34,0.22-0.51s0.13-0.4,0.19-0.6s0.05-0.16,0.07-0.25  c0.17-0.64,0.26-1.29,0.26-1.95c0-0.43,0-0.84-0.06-1.26c-0.04-0.26-0.09-0.52-0.16-0.77c0,0,0-0.08,0-0.11  c0.89-1.1,2.22-1.74,3.63-1.75H24.76z M19.41,21c-0.52-0.24-1.05-0.44-1.6-0.59c0.68-0.45,1.29-1,1.8-1.64  c0.39,0.51,0.86,0.95,1.39,1.32c-0.54,0.24-1.04,0.56-1.49,0.93L19.41,21z M7,13.64c-0.01-3.47,2.81-6.29,6.28-6.3  c2.69,0,5.09,1.7,5.96,4.25c0.24,0.66,0.36,1.35,0.36,2.05c-0.01,0.68-0.12,1.36-0.34,2c-0.79,2.34-3.06,4.28-5.62,4.28  c0,0-0.74,0-0.74,0C9.59,19.71,7,16.96,7,13.64z M22.88,35.91H3.8c0,0,0-7.14,0-7.14c0-1.46,0.54-2.88,1.46-4.01  c0.97-1.19,2.31-2.05,3.77-2.53c0.89-0.29,1.83-0.41,2.76-0.45c0.96-0.04,1.95-0.1,2.91-0.02c0.5,0.04,1,0.14,1.49,0.24  c0.52,0.11,1.03,0.24,1.53,0.39c0.25,0.07,0.49,0.16,0.74,0.24c0.72,0.25,1.36,0.62,1.97,1.08c0.38,0.29,0.66,0.63,0.99,0.96  c0.27,0.27,0.48,0.67,0.64,1.01c0.26,0.53,0.38,1.11,0.51,1.68c0.22,0.99,0.32,1.99,0.32,3.01c0,0.68,0,1.36,0,2.04  c0,1.15,0,2.29,0,3.44c0,0.03,0,0.07,0,0.1L22.88,35.91z M32.32,33.35h-7.64v-4.58c0,0,0-0.06,0-0.09s0-0.18,0-0.28  c-0.1-1.57-0.61-3.09-1.47-4.4c-0.05-0.07-0.11-0.14-0.16-0.22c-0.18-0.24-0.37-0.48-0.57-0.7l-0.05-0.06  c-0.35-0.38-0.75-0.73-1.18-1.02c0.79-0.47,1.69-0.7,2.61-0.65h2.22c3.36-0.07,6.15,2.59,6.24,5.95V33.35z"/></svg>
              <span style="margin-left: .4rem; font-size: 1.225rem;">Signup</span>
             </a>
            </li>
          <% } else {%>
              <li class="nav-item drop auth" style="display: flex; margin-left: .4rem;">
                 <a class="nav-link" href="/logout" style="width: 7rem;">
                    <i class="fa-solid fa-right-from-bracket" style="color: #f40606; font-size: 1.425rem;"></i>
                    <span style="margin-left: .4rem; font-size: 1.225rem;">Log Out</span>
                 </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="nav-item drop align auth"  style="width: 12rem;">
                   <a class="nav-link" href="/profile" style="margin-left: .4rem;">
                       <i class="fa-solid fa-user"></i>
                    <span>Your profile</span>&nbsp;
                  </a>
                   <i class="fa-solid fa-angle-right"></i>
              </li>
          <% } %>

        </ul>
      </div>

    </div>
  </div>
</nav>
