<style>
  .form{
      height: 2.5rem;
  }
  .search-btn{
    margin-top: 1.3rem;
   
  }
  .form{
    border-radius: 25px;
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa fa-plane" aria-hidden="true"></i></a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        
        <a class="nav-link" href="/listing">Explore</a>
       </div>
       <div class="search-btn ms-auto">
        <form class="d-flex search-input" role="search" action="/listing/search" method="post">
          <input class="form-control me-2 form" type="search" name="query" placeholder="Search" aria-label="Search" style="width: 300px; height: 40px;">
          <button class="btn btn-outline-success form" type="submit"><i class="fa-solid fa-magnifying-glass"></i>&nbsp Search</button>
        </form>
       </div>
       <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/new">Airbnb your place</a>
        <a class="nav-link" href= "/about">About Us</a>
        <%if(currUser) { %> 
          <a class="name" href=""><i>Hello <%" "%><%=currUser.username%></i></a>
          <a class="nav-link" href="/logout">Logout</a>
          <%} %>
        <%if(!currUser) { %>  
          <a class="nav-link" href="/login"><b>Login</b></a>
          <a class="nav-link" href="/signup"><b>Signup</b></a>
        <%} %>
        
       </div>
    </div>
    
  </div>
</nav>
