<!-- @format -->

<% layout("/layouts/boilerplate") %>

<style>
	
	.bg-dark-section {
		background-color: #212529;
		border-radius: 0.5rem;
	}
	.contact-header {
		font-size: 2rem;
		font-weight: bold;
		color: rgb(74, 74, 74);
	}
	.contact-description {
		color: rgb(153, 153, 153);
	}
	.contact-form {
		/* border: 1px solid #495057; */
		padding: 4rem;
		border-radius: 0.5rem;
		background-color: #f3f3f3;
        padding-bottom: 80px;
		box-shadow: 0 8px 16px rgba(33, 33, 33, 0.692);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
	@media(max-width: 560px){
		.contact-form{
			padding: 3.5rem 1.5rem !important;
		}
		.main-content{
			padding: 0 !important;
		}
	}
	.form-control:focus {
        box-shadow: none;
		border-color: #161616;
	}
	.btn-submit {
		background-color: #ffc107;
		color: #000;
		font-weight: bold;
		transition: all 0.3s;
	}
	.btn-submit:hover {
		background-color: #ffca2c;
	}
	.contact-icon {
		font-size: 1.5rem;
		color: #ffc107;
	}
    .section{
        padding-bottom: 150px;
    }

	.dark-mode{
		.contact-header{
			color: #cacaca;
		}
		.contact-form{
			background-color: #2e2e2e;
			box-shadow: 0 10px 16px #000;
		}
		.form-label {
			color: #f3f3f3;
		}
		.form-input .form-control{
			background-color: #454545;
            color: #ffffff;
		}
		.form-input .form-control::placeholder{
			color: #cacaca;
		}
	}
</style>

<body>
	<div class="contactContainer">
		<div class="container my-5">
			<div class="d-flex flex-column align-items-center section">
				<div class="text-center">
					<h1 class="contact-header mb-3">
						Got an Idea? We’ve Got the Skills. Let’s Team Up
					</h1>
					<p class="contact-description">
						Tell us more about yourself and what you’ve got in mind.
					</p>
				</div>

				<div class="row mt-5 w-100">
					<!-- Contact Form -->
					<div class="col-14 col-lg-6 mx-auto main-content">
						<form
							class="contact-form"
							method="POST"
							action="/contact">
							<!-- Name Fields -->
							<div class="row mb-3 inputs">
								<div class="col form-input">
									<label
										for="firstname"
										class="form-label"
										>First Name</label
									>
									<input
										type="text"
										class="form-control form-control-sm"
										name="firstname"
										placeholder="Enter first name"
										required />
								</div>
								<div class="col form-input">
									<label
										for="lastName"
										class="form-label"
										>Last Name</label
									>
									<input
										type="text"
										class="form-control form-control-sm"
										name="lastname"
										placeholder="Enter last name" />
								</div>
							</div>

							<!-- Email -->
							<div class="mb-3 form-input">
								<label
									for="email"
									class="form-label"
									>Email Address</label
								>
								<input
									type="email"
									class="form-control form-control-sm"
									name="email"
									placeholder="Enter email address"
									required />
							</div>

                            <!-- Subject -->
							<div class="mb-3 form-input">
								<label
									for="subject"
									class="form-label"
									>Subject</label
								>
								<input
									type="text"
									class="form-control form-control-sm"
									name="subject"
									placeholder="Enter your subject"
									required />
							</div>

							<!-- Message -->
							<div class="mb-4 form-input">
								<label
									for="message"
									class="form-label"
									>Message</label
								>
								<textarea
									class="form-control form-control-sm"
									name="message"
									rows="5"
									placeholder="Enter your message here...."
									required></textarea>
							</div>

							<!-- Submit Button -->
							<button
								type="submit"
								name="saveButton"
								class="btn btn-danger w-100">
								Send Message
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
