<% layout("/layouts/boilerplate") %>
<style>
    .feedback-star{
        font-size: 1.5rem;
        color: #f5bd23;
        cursor: pointer;
        /* box-shadow: 0 5px 10px #000000b5; */
        transition: all 0.1s ease;
    }
    .feedback-star:hover{
        transform: scale(1.2) translateY(-0.25rem) !important;
    }
    .feed-comment{
        font-weight: 500 !important;
        font-family: Arial, Helvetica, sans-serif !important;
    }
    .feed-name{
        font-weight: 300 !important;
        opacity: 0.7 !important;
        font-size: 1rem;
        color: #ff385c;
        font-family: cursive !important;
    }
    .date{
        font-weight: 200 !important;
        font-size: 0.8rem;
    }
    .dark-mode{
        h3{
            color: aliceblue;
        }
        .date{
            color: #a7a7a7 !important;
        }
        .feed-comment{
            opacity: 0.8;
        }
    }
</style>



<body>
    <div class="container">
        <h3 class="mt-5 text-center">
            <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/2728/512.gif" alt="✨" width="42" height="42"> 
            Valuable Feedbacks by Our Users 
            <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/2728/512.gif" alt="✨" width="42" height="42">
        </h3>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3 mt-5">
            <% for (let feedback of feedbacks) { %>
                <div class="col">
                    <div class="card listing-card h-100" id="feedback-<%= feedback._id %>">
                        <div class="card-body">
                            <p class="card-text mt-2 text-center mb-3">
                                <% for (let j = 1; j <= 5; j++) { %>
                                    <% if (j <= feedback.rating) { %>
                                        <i class="fa-solid fa-star feedback-star"></i>
                                    <% } else { %>
                                        <i class="fa-regular fa-star feedback-star"></i>
                                    <% } %>
                                <% } %>
                            </p>
                            <p class="card-text">
                                <span class="feed-comment"><%= feedback.comment %></span><br>
                            </p>
                        </div>
                        <div class="card-text d-flex justify-content-between">
                            <span class="text-muted date">
                                <small>
                                    <%= new Date(feedback.submittedAt).toLocaleDateString("en-IN", {
                                        weekday: "short",
                                        year: "numeric",
                                        month: "short",
                                        day: "numeric"
                                    }) %>
                                </small>
                            </span>
                            <span>
                                <small class=" feed-name">- By <%= feedback.name %></small>
                            </span>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>

