<%- layout("/layouts/boilerplate") -%>
    <style>
        .outer{
            margin: 5rem 0;
        }
        .edit-profile-container{
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 30px;
            box-shadow: 0 7px 15px rgba(113, 113, 113, 0.626);
        }
        h1{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        .dark-mode {
            h1 {
                color: #ffffff;
                text-align: center;
            }
            .edit-profile-container{
                background-color: #2e2e2e;
            }
            form label {
                color: #ffffff;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            .profile-edit-form input[type="text"],
            .profile-edit-form input[type="file"],
            .profile-edit-form input[type="email"] {
                background-color: #2c2c2c;
                color: #ffffff;
                border: 1px solid #555555;
                transition: box-shadow 0.3s ease;
            }

            .profile-edit-form input[type="text"]::placeholder,
            .profile-edit-form input[type="file"]::placeholder,
            .profile-edit-form input[type="email"]::placeholder {
                color: #aaaaaa;
            }

            .profile-edit-form label {
                color: #fff !important;
            }
            .form-text{
                color: #8c8c8c;
            }
        }
    </style>
    <div class="row outer">
        <div class="col-12 col-md-6 col-lg-4 mx-auto edit-profile-container">
            <h1 style="text-align: center;">Edit Your Profile</h1>

            <form action="/profile/edit" method="POST" enctype="multipart/form-data">
                <div class="mb-3 profile-edit-form">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control form-control-sm" value="<%= user.username %>" required>
                </div>

                <div class="mb-3 profile-edit-form">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control form-control-sm" value="<%= user.email %>" required>
                </div>

                <div class="mb-3 profile-edit-form">
                    <label for="image" class="form-label form-label-listings">Upload Profile Image</label>
                    <input type="file" name="profileimage" id="" class="form-control form-control-sm">
                    <div class="form-text" id="basic-addon4">If you want you can upload your profile picture.</div>
                </div>
                <div class="form-check cursor-pointer">
                    <input class="form-check-input cursor-pointer" type="checkbox" value="<%=user.profilePicture.pfilename%>" name="deleteProfile" id="flexCheckDefault">
                    <label class="form-check-label cursor-pointer text-danger" for="flexCheckDefault">To remove profile picture please check this box!</label>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-danger" type="submit">Save Changes</button>
                    <a href="/profile" class="btn btn-secondary" type="button">Go back</a>
                </div>

                <!-- <button type="submit" class="btn btn-outline-danger col-4 offset-4">Save Changes</button> -->
            </form>
        </div>
    </div>