<% layout("/layouts/boilerplate") %>
<div class="row mt-4">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <h3 class="alert-heading"><%=msg%> !</h3>
        <p>Status Code: <%=status%></p>
        <form method="get" action="/listing" class="button-form">
            <button class="btn">Back</button>
        </form>
    </div>
    
</div>


