<% layout("/layouts/boilerplate") %>
<br>
<br>
<style>
    
    .form_body{
        background-color: #f1f1f1;
        border-radius: 8px;
        padding: 30px;
        box-shadow: 0 7px 15px rgba(113, 113, 113, 0.626);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .login_form input[type="text"],
    .login_form input[type="password"] {
        border-radius: 5px;
        padding: 12px;
        width: 100%;
        margin-top: 10px;
    }
    /* Form Container - Floating Effect */
    .dark-mode{
        .form_body {
            background-color: #2e2e2e;
            border-radius: 8px;
            padding: 30px;
            box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5); /* Initial shadow to lift form */
        }

        /* Input Fields Styling */
        .login_form input[type="text"],
        .login_form input[type="password"] {
            background-color: #2c2c2c;
            color: #ffffff;
            border: 1px solid #555555;
            transition: box-shadow 0.3s ease; /* Smooth hover transition for input */
        }

        .login_form input[type="text"]::placeholder,
        .login_form input[type="password"]::placeholder {
            color: #aaaaaa;
        }

        .login_form input[type="text"],
        .login_form input[type="password"] {
            border-radius: 5px;
            padding: 12px;
            width: 100%;
            margin-top: 10px;
        }

        .login_form label{
            color: #fff;
        }
        #message {
            margin-top: 20px;
            padding: 10px;
            border-radius: 5px;
        }
    
        .success {
            background-color: #d4edda; /* Light green */
            color: #155724; /* Dark green */
        }
    
        .error {
            background-color: #f8d7da; /* Light red */
            color: #ff385c; /* Dark red */
        }
    }
</style>


<div class="row">
    <!-- <div class="col-4 mx-auto form_body"> -->
    <div class="col-11 col-md-8 col-lg-4 mx-auto form_body">
        <form method="POST" action="/resetlink-password" novalidate class="needs-validation">
            <div class="mb-3 login_form">
                <label for="username" class="form-label">Registered Email</label>
                <br>
                <input type="text" name="email" placeholder="Enter Registered Email Id" class="form-control" required>
                
                <div class="invalid-feedback">
                    Email not found
               </div>
            </div>
              <br>
              <div class="d-grid gap-2">
                <button class="btn btn-danger" name="saveButton" type="submit">Send</button>
                <a href="/login" class="btn btn-secondary" type="button">Go back</a>
              </div>
            </div>
        </form>
        
    </div>
</div>
