<!-- INCLUDE boilerplate -->
<% layout("/layouts/admin_boilerplate") %>

    <style>
        h1 {
            text-align: center;
            margin-top: 20px;
            font-family: rakkas;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #e0e0e0;
        }
        th {
            background-color: #ff385c;
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }
        tr:nth-child(even) {
            background-color: #fafafa;
        }
        tr:hover {
            background-color: #f1f1f1;
        }   
        .btn {
            width: 70px;
            padding: 0;
            margin: 3px;
        }

        .dark-mode{
            h1 {
                color: #f1f1f1;
            }
            table {
                background-color: #1e1e1e;
                color: #e0e0e0;
                border-color: #333333;
            }

            th {
                background-color: #ff385c;
                color: #ffffff;
            }

            tr:nth-child(even) {
                background-color: #2e2e2e;
            }

            tr:hover {
                background-color: #444444;
            }

         }
        /* Responsive adjustments */
        @media (max-width: 995px) {
            table {
                font-size: 0.9em;
            }
            h1 {
                font-size: 1.2em;
            }
        }
    </style>
    

    <!-- Main Content -->
    <div class="container">
        <h1>User Management Dashboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %> 
                    <tr>
                        <td><b><%= user.username %></b></td>
                        <td><i><%= user.email %></i></td>
                        <td><b><%= user.isAdmin ? 'Admin' : 'User' %></b></td>
                        <td>
                            <div class="user_btn">
                            <!-- Delete Form -->
                            <form action="/admin/user/<%= user._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete this user?');">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

