<% layout("/layouts/boilerplate") %>

<style>
    /* align image at ceter */
    .not-found{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif !important;
        /* margin-top: 25px; */
    }
    .middle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f5f5f5;
        padding: 3rem 7rem;
        border-radius: 2rem;
        /* border: 1px solid rgb(216, 216, 216); */
        box-shadow: 0 5px 10px #6767678c;
    }
    .not-found-content h1 {
            color: #ff385c;
    }
    .not-found-image{
        height: 200px;
    }

    .not-found-content{
        text-align: center;
    }
    @media(max-width: 768px){
    .not-found-image{
        height: 100px;
    }
    .middle{
        padding: 1.5rem 3.5rem;
    }
    .not-found-content h1{
        font-size: 1.5rem;
    }
    .not-found-content p{
        font-size: 0.6rem;
    }
    }


    .dark-mode{
        .not-found {
            /* background-color: #1a1a1a; */
            color: #f1f1f1;
        }
        .middle{
            background: #ffffff;
            box-shadow: 5px 5px 10px #000000;
        }

        .not-found-content h1 {
            color: #ff385c;
        }
        
         .not-found-content p {
            color: #9d9d9d;
        }

    } 
</style>


<div class="not-found">
    <div class="middle">
        <div class="not-found-back">
            <img class="not-found-image" src="/400.png" alt="404 Page not found">
        </div>
        <div class="not-found-content">
            <h1>This page doesn’t exist!</h1>
            <p>Please check your URL or return to Wanderlust.</p>
            <form action="/listing" method="get">
                <button class="btn btn-outline-danger btn-sm">Go To Homepage</button>
            </form>
        </div>
    </div>
</div>