<% layout("/layouts/boilerplate") %>
<br>
<br>
<div class="row">
    <div class="col-6 offset-3">
        <form method="POST" action="/signup" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <br>
                <input type="text" name="username" placeholder="Username" class="form-control" required>
                <div class="valid-feedback">
                     looks great!
                </div>
                <div class="invalid-feedback">
                    Please enter valid username
               </div>
               <label for="email" class="form-label">Email Id</label>
                <br>
                <input type="email" name="email" placeholder="Email"  class="form-control"required>
                <div class="valid-feedback">
                     looks great!
                </div>
                <div class="invalid-feedback">
                    Please enter valid username
               </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <br>
                <input type="password" name="password" placeholder="Password"  class="form-control" required>
                <div class="valid-feedback">
                    looks great!
               </div>
               <div class="invalid-feedback">
                   Please enter valid password
              </div>
              <br>
              <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <br>
                <input type="password" name="cnf-password" placeholder="Password"  class="form-control" required>
                <div class="valid-feedback">
                    looks great!
               </div>
               <div class="invalid-feedback">
                   Passwords Should match
              </div>
              <br>
              
                <button class="btn offset-6" name="saveButton" type="submit">Signup</button>
            </div>
        </form>
        
    </div>
</div>