<!-- views/update-password.ejs -->
<% layout("/layouts/boilerplate") %>
<h2>Update Password</h2>
<form action="/user/updatePass" method="POST">
    <div>
        <label for="currentPassword">Current Password:</label>
        <input type="password" name="currentPass" required>
    </div>
    <div>
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPass" required>
    </div>
    <button type="submit">Update Password</button>
</form>