/* DARKMODE TOGGLER */
.dark-mode{
    .navbar{
        background-image: linear-gradient(#000000, #1d1d1d);
    }
    .fa-plane:hover {
        color: #FF5A5F;
        transform: scale(1.1);
        text-shadow: 0 6px 14px rgba(255, 255, 255, 0.5);
    }
    
    .navbar-brand, .nav-link {
        color: #FF5A5F;
    }
    .drop-button:hover{
        box-shadow: 0 5px 3px rgba(212, 212, 212, 0.303);
    }
    .desk-drop{
        background-color: #343a40;
        color: #ffffff;
        box-shadow: 0 5px 3px rgba(212, 212, 212, 0.351);
    }
    .desk-drop .dropdown-divider{
        color: #ffffff;
    }

    .navbar-toggler {
        background-color: #495057;
    }
    .search-form input {
        background-color: #343a40;
        color: #ffffff;
    }
    .search-form input::placeholder {
        color: #b0b3b8;
    }

    .search-form button {
        background-color: #495057;
        color: #ffffff;
        border: none;
    }

    .nav-link:hover {
        color: #FF5A5F;
    }

    @media (max-width: 991px) {
        .navbar-collapse {
            background-color: #1d1d1d;
            transition: background-color 0.3s ease;
            position: relative;
            top: 2rem;
            width: 100%;
        }
        .search-bar input {
            margin-left:3.5rem;
        }
    }

    /* SLIDING BAR css */

    .card {
        background-color: #363636;
        box-shadow: 0 8px 8px #000000;
        color: #ffffff;
        cursor: pointer;
        /* border-radius: 15px; */
    }
    .card-body {
        color: #ffffff;
    }
    .card-title {
        color: #ffffff;
    }
    .card-subtitle {
        color: #ffffff;
    }
    .card-text {
        color: #ffffff;
    }
    .card-body .btn-dark{
        background-color: #ffffff;
        color: #1d1d1d;
    }
    .card-body .btn-dark:hover{
        color: #000000;
    }

    /* FAQ SECTION css*/
    .faq-left {
        color: #ffffff;
        border: 1px solid #5c5c5c;
        background-color: #272727;
    }
    .faq-right {
        border: 1px solid #5c5c5c;
        background-color: #272727;
        color: #ffffff;
    }
    .faq-item {
        border-top: 1px solid #5c5c5c;
        border-bottom: 1px solid #5c5c5c;
        background-color: #272727;
        color: #ffffff;
    }
    .faq-item:hover {
        background-color: #495057;
        color: #ffffff;
    }
    .faq-item h5 {
        color: #ffffff;
    }
    .faq-item p {
        color: #ffffff;
    }
    
    /* Review section */
    .review-section {
        background-color: #343a40;
        color: #ffffff;
    }
    .review-item {
        background-color: #343a40;
        color: #ffffff;
    }
    .review-item:hover{
        background-color: #495057;
        color: #ffffff;
        transform: scale(1.1);
        text-shadow: 0 6px 14px rgba(255, 255, 255, 0.5);
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
        box-shadow: 0 6px 14px rgba(255, 255, 255, 0.5);
    }

    /* Footer sectionn */
    footer {
        background-color: transparent;
        color: #ffffff;
    }
    footer p {
        color: #ffffff;
    }
    .footer-left .contact-info i {
        color: #f3f3f3;
    }
    footer a {
        color: #ffffff;
    }
    footer a:hover {
        color: #ffffff;
    }
    .btw-foot{
        color: #a4a4a4;
    }
    .company-links h3{
        color: #f7f7f7;
    }
    .company-links ul li a{
        color: #dddddd;
    }
    .location{
        opacity: 0.7 !important;
    }
    .company-links ul li a:hover{
        color: #fafafa;
        text-decoration: underline;
        transition: color 0.3s ease-in-out;
    }

    .contact-icon {
        color: #c22121 !important;
    }
    .footer-right h3{
        color: #f7f7f7;
    }

    .social-media a {
        color: #ffffff;
    }

    .social-media a:hover {
        color: #bdbdbd;
        transform: scale(1.1);
    }  

    .faq-left .contact-info span i {
        color: #cacaca;
    }
    .tax-toggler{
        background-color: #363636;
    }
    .tax-toggler label{
        color: #fff;
    }

    /* SLIDING BAR */
    .filter {
        background-color: #363636;
        color: #ffffff;
    }
    .filter i {
        color: #ffffff;
    }
    .filter p {
        color: #ffffff;
    }
    .scroll-btn i{
        color: #ffffff;
        text-shadow: .5px 0px 1px rgb(179, 179, 179);
    }
    .scroll-btn i:hover{
        text-shadow: .5px 0px 1px rgb(179, 179, 179);
    }
    .password-box {
        position: relative;
        width: 100%; /* Adjust width as needed */
    }
    #togglePassword {
        position: absolute;
        right: 10px; /* Position from the right */
        top: 50%; /* Center vertically */
        transform: translateY(-50%); /* Adjust vertical alignment */
        cursor: pointer;
        color: #adadad; /* Icon color */
    }
    #preloader{
        background-color: #272727 !important;
    }
    .loader::before{
        background: rgba(0, 0, 0, 0.753) !important;
    }
}
