body{
  overflow-x: hidden;
}
.navbar{
  height: 5rem;
  font-family: Arial, Helvetica, sans-serif !important;
  position: absolute;
  z-index: 10;
}
.input-form{
  transform: translateX(-17rem) !important;
}
/* Logo Icon Styles */
.fa-plane {
  color: #ff385c;
  text-shadow: 0 2px 8px rgba(83, 9, 9, 0.3);
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
  cursor: pointer;
}

/* brand */
#explore {
  font-size: 1.3rem !important;
  font-weight: bold;
  margin-left: -5px;
  margin-right: 10px;
  font-family: "Lucida Console", Courier, monospace;
}

.nav-link{
  font-size: 1.1rem !important;
}

.main-menues .nav-link{
margin: 0 0.3rem;
}

/* .main-menues .nav-link:hover{
color: #ff385c !important;
} */

/* Styling the search bar inside the navbar */

.search-bar {
  display: flex;
  margin-right: 7rem;
  align-items: center;
  /* padding-left: 10px; */
  justify-content: center;
}

.search-bar input {
  width: 300px;
  margin-left: 3px;
  line-height: 2rem;
  border-radius: 10px;
  padding-left: 10px;
}

.search-bar button {
  margin-left: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 6px 10px;
  border: .5px solid rgb(209, 209, 209);
}

.search-bar button i {
  margin-right: 5px;
}
.search{
  border: 1px solid rgb(136, 136, 136);
}
/* Hover effects for the navbar links */
.navbar-nav .nav-link {
  transition: color 0.3s ease;
}
.search-box{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto !important;
}


/* ////////////////////////////////////// */
/* FOOTER SECTION */
.btw-foot{
margin-top: 60px !important;
opacity: 0.1;
}
footer {
margin-top: 2rem !important;
/* background-color: #f8f9fa; */
padding: 0 30px;
display: flex;
justify-content: space-between;
/* align-items: flex-start; */
flex-wrap: wrap;
}


.flicker {
font-size: 3rem;
font-family: 'Lobster', cursive !important;
margin: 1rem auto;
color: #00000061;
background: -webkit-gradient(linear, left top, right top, from(#414141), to(#555), color-stop(0.8, #ffffff)) no-repeat;
background: linear-gradient(to right, #414141, #555, #ffffff);
background-size: 110px 100%;
-webkit-background-clip: text;
background-clip: text;
color: transparent;
animation: flick 2.5s infinite;
}
@keyframes flick {
0% {
  background-position: top left;
}
100% {
  background-position: top right;
}
}



.footer-left .brand h2 {
font-size: 50px;
font-family: 'Lobster', cursive !important;
font-weight: bold;
margin-bottom: 10px;
}


.footer-left .brand p {
font-size: 15px;
margin-bottom: 30px;
}


.footer-left .contact-info .email,
.footer-left .contact-info .phone {
margin-bottom: 15px;
padding-left: 20px;
}

.footer-left .contact-info i {
margin-right: 10px;
font-size: 30px;
}

.footer-left .contact-info p {
font-size: 17px;
}

.footer-left .contact-info p a {
text-decoration: none;
font-weight: bold;
}

.footer-left .contact-info p a:hover {
text-decoration: underline;
}

.footer-middle h3,
.footer-right h3 {
font-size: 21px;
font-weight: bold;
color: #333;
margin-top: 15px;
}

.footer-middle ul,
.footer-right ul {
list-style: none;
padding: 0;
}

.footer-middle ul li,
.footer-right ul li {
margin-bottom: 10px;
}

.footer-middle ul li a,
.footer-right ul li a {
font-size: 14px;
text-decoration: none;
}

.footer-middle ul li a:hover,
.footer-right ul li a:hover {
color: #333;
text-decoration: underline;
}


.footer-right h3 {
font-size: 18px;
margin-bottom: 10px;
}

.footer-right{
padding-right: 50px;
}

.footer-right .social-media a {
margin-right: 10px;
font-size: 24px;
transition: color 0.3s;
}
.footer-right .social-media i{
transition: transform 0.3s ease;
}
.footer-right .social-media i:hover{
transform: translateY(-0.2rem) !important;
}


.copyright {
display: block;
position: relative;
top: 30px;
bottom: 0px;
width: 100%;
text-align: center;

}

.copyright p {
font-size: 14px;
}

/* listing cards */
.listing-card{
  border: none !important;
  /* margin-bottom: 2.5rem !important; */
  /* background-color: #a2a2a2 !important; */
  padding: 1rem;
  margin-bottom: 1rem;
  
}
/* .card{
  margin-left: 15px;
  margin-bottom: 40px !important;
  padding: 25px !important;
} */
.card-img-overlay{
  opacity: 0;
}
.card-img-overlay:hover{
  opacity: 0.19;
  border-radius: 1.2rem!important;
}
.show{
  text-decoration: none;
}
.show-img{
  height: 60vh;
  width: 100%;
}
.card-body {
padding: 15px 10px !important;
}
.card-img-top{
  border-radius: 0.5rem!important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-text{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  font-weight: 200 !important;
}


.alert {
  position: relative;
}
.alert .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  background: transparent;
  border: none;
}
.alert .close span {
  font-size: 1.5rem;
}
.alert{
  text-align: center;
  font-size: large;
}
#map {
   height: 400px;
   width: 100vh;
   margin: 0 auto;
  }
/* FAQ SECTION */
/* LEFT SECTION */
.faq-container {
display: flex;
justify-content: space-between;
padding: 20px;
margin-top: 30px;
/* background-color: #f8f9fa; */
}

.faq-left {
display: flex;
flex-direction: column;
justify-content: center;
width: 25%;
margin: 0px 5px;
padding: 20px;
border-radius: 10px;
}

.faq-left h2 {
font-size: 2em;
font-family: "Lucida Console", Courier, monospace;
font-weight: bolder;
margin-bottom: 20px;
}

.faq-left p {
font-size: 1.1rem;
margin-bottom: 20px;
}

.faq-left .contact-info {
margin-top: 20px;
}

.faq-left .contact-info span {
display: flex;
margin-bottom: 5px;
align-items: center;
font-size: 1rem;
font-weight: 700;
}

.faq-left .contact-info span i {
margin-right: 5px;
font-size: 1.7rem;
color: #646464;
}


.faq-left .contact-info a {
text-decoration: none;
font-size: 1.2rem;
}


/* RIGHT SECTION */
.faq-right {
width: 75%;
padding: 20px 25px;
margin: 0px 5px;
border-radius: 10px;
}

.faq-item {
margin-bottom: 20px;
padding: 15px;
border-radius: 8px;
transition: box-shadow 0.3s ease;
cursor: pointer;
}

.faq-item h3 {
font-size: 1rem;
font-weight: bold;
margin-bottom: 5px;
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
}

.faq-item .faq-answer {
padding-left: 10px;
margin-top: 10px;
/* display: none; */
}

.faq-item .faq-answer p {
color: #666;
}

.faq-item .faq-answer i {
margin-right: 5px;
font-size: 1.2rem;
vertical-align: middle;
}

.faq-answer {
max-height: 0;
overflow: hidden;
transition: max-height 0.4s ease-out;
}

.faq-item.open .faq-answer {
max-height: 500px; /* Adjust this height based on expected content */
}

.faq-item h3 {
cursor: pointer;
display: flex;
justify-content: space-between;
align-items: center;
}

.faq-item.open h3 i {
transform: rotate(180deg);
transition: transform 0.3s ease;
}

@media (max-width: 768px) {
.faq-container {
flex-direction: column;
padding: 15px;
}

.faq-left {
width: 100%;
margin-bottom: 20px;
padding: 15px;
}

.faq-right {
width: 100%;
padding: 15px;
}

.faq-item h3 {
font-size: 0.9rem;
}

.faq-answer p {
font-size: 0.85rem;
}
}
/* ------------------ DARKMODE TOGGLER style ------------ */
.dark-mode {
background-color: #1d1d1d;
}

/* Toggle button container */

.toggle-container button{
background-color: transparent;
}


.dark-mode-toggle {
background-color: transparent;
border: none;
cursor: pointer;
outline: none;
}



/* Toggle icon styling */
.toggleIcon {
font-size: 25px;
color: #f0f0f0;
/* border: 1px solid #66666686; */
border-radius: 50% !important;
padding: 0.4rem;
transition: transform 0.5s ease;
}

/* Sun color for light mode */
body:not(.dark-mode) .toggleIcon {
color: #333;
border: 1px solid #66666686;
}

/* Dark mode icon color */
.dark-mode .toggleIcon {
color: #f0f0f0; /* Moon icon color for dark mode */
background-color: #1d1d1d;
}
/*-------- Dark mode toggle styling end --------- */

/* Go to top styling */
.goto-top{
background-color: #ff385c;
height: 3.5rem;
width: 3.5rem;
display: flex;
align-items: center;
justify-content: center;
position: fixed;
bottom: 1.3rem;
right: 1.3rem;
border-radius: 50%;
cursor: pointer;
animation: upDown 3s ease-in-out infinite;
transition: background-color 0.3s ease;
z-index: 999 !important;
}
.goto-top:hover{
background-color: #b52943;
}
@keyframes upDown {
0% {
transform: translateY(0); /* Start at normal position */
}
50% {
transform: translateY(-25px); /* Move up by 10px */
}
100% {
transform: translateY(0); /* Move back to original position */
}
}
.goto-top i{
font-size: 1.5rem;
color: #f0f0f0;
}

/* SLIDING BAR */
/* Hide scrollbar while still allowing horizontal scrolling */
#filters {
display: flex;
overflow-x: auto; /* Allow horizontal scrolling */
padding: 10px;
scroll-behavior: smooth;
scrollbar-width: none;
}

#filters::-webkit-scrollbar {
display: none; /* Hide scrollbar */
}

.filter {
flex: 0 0 auto; /* Ensure items don't shrink or grow */
width: 100px;
margin-right: 15px;
margin-top: 12px;
border-radius: 10px;
text-align: center;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: transform 0.3s ease;
}

.filter i {
font-size: 20px;
margin-bottom: 10px;
}

.filter p {
margin: 0;
font-size: 14px;
}

.filter:hover {
transform: scale(1.1);
cursor: pointer;
}

/* Scroll buttons */
.scroll-btn {
position: absolute;
top: 21%;
transform: translateY(-50%);
background-color: transparent;
border: none;
padding: 10px;
cursor: pointer;
z-index: 1000;
}

.scroll-btn i{
opacity: .5;
transition: color 0.3s ease;
transform: scale(1.1);

}

.scroll-btn i:hover{
opacity: 1;
transition: color 0.3s ease;
transform: scale(1.1);
}

.scroll-btn.left {
left: 10px;
}

.scroll-btn.right {
right: 10px;
}

.mobile-nav{
display: none !important;
}
.drop-button{
display: flex !important;
align-items: center !important;
justify-content: center !important;
border: 1px solid rgb(138, 138, 138) !important;
padding: 0.3rem 1rem !important;
border-radius: 0.4rem;
}
.drop-button:hover{
box-shadow: 0 4px 5px rgba(3, 3, 3, 0.4);
}
.drop-button::after {
display: none !important;
}
.nav-profile{
height: 1.8rem !important;
margin-left: 0.6rem;
border: 1px solid rgb(77, 77, 77);
border-radius: 50% !important;
}
.drop{
padding: 0.5rem 1rem !important;
}
.align{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
}
.main-menues{
width: 90%;
}
.mobile-toggle{
display: none !important;
}

@media (max-width: 990px){
.desktop-toggle{
  display: none !important;
}
.mobile-toggle{
  display: block !important;
}

/* Sun color for light mode */
body:not(.dark-mode) .toggleIcon {
  color: #333;
  border: 1px solid #66666686;
}

/* Dark mode icon color */
.dark-mode .toggleIcon {
  color: #1d1d1d; /* Moon icon color for dark mode */
  background-color: #f0f0f0; 
}
.normal-nav{
  display: none !important;
}
.mobile-nav{
  display: block !important;
  padding: 0 0.8rem !important;
}
.search-box{
  padding: 0 0.8rem 1rem 0.8rem !important;
}

.mobile-nav ul {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0.7rem; /* Removes any left padding */
  margin-bottom: 0 !important;
}
.mobile-nav li {
  margin-bottom: 10px; /* Adds some space between list items */
}
}

/* Media queries */
@media (max-width: 768px) {
#filters {
padding: 5px;
}
.filter {
margin-top: 10px;
width: 80px;
height: 80px;
margin-right: 10px;
}

.filter i {
font-size: 20px;
}

.filter p {
font-size: 12px;
}
.scroll-btn {
top: 19%;
}
}

@media (max-width: 480px) {
.filter {
width: 70px;
height: 70px;
margin-right: 8px;
}

.filter i {
font-size: 18px;
}

.filter p {
font-size: 11px;
}
.footer-left .mail, .mobile{
font-size: 0.8rem !important;
}
}


/* CUSTOM NAV */
.custom_nav {
    background-color: white !important;
    padding:5px;
    border-radius: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 59rem !important;
  }
  
  .custom_nav li a {
    font-size: 15px !important;
    padding: none !important;
    color: #333 !important;
    transition: all 0.3s ease-in-out;
  }

  #air_bnb{
    background-color: #FF5A5F !important;
    color: white !important;
    border-radius: 50px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }

  #air_bnb:hover,.navbar-nav .hight-light:hover {
    color: white !important;
    background-color: #fe002f !important;
    box-shadow: 2px 2px 5px rgba(255, 56, 92, 0.3);
    transform: scale(1.01);
  }

  .custom_nav li a:hover {
    color: #ff385c !important;
    background-color: rgba(255, 90, 95, 0.1);
    transform: scale(1.05);
    border-radius:50px;
  }

  @media (min-width: 991px) and (max-width: 1005px) {
    .search-box {
      width: 40% !important;
    }
  }
  @media (min-width: 1000px) and (max-width: 1399px) {
    .custom_nav {
      flex-direction: row;
    }
  

    .custom_nav li a {
      flex-wrap: nowrap;
      text-wrap: nowrap;
    }
  }
